spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
  datasource:
    url: "jdbc:mysql://mysql:3306/spms?allowPublicKeyRetrieval=true&serverTimezone=UTC&useUnicode=true&characterEncoding=utf8&useSSL=false"
    username: "spms"
    password: "spms"
  data:
    redis:
      host: "redis"
      port: 6379
      database: 5
app:
  upload-platform: local
  is-dev-mode: true
