#file: noinspection SpellCheckingInspection
logging:
  config: classpath:logback-spring.xml
server:
  port: 8080
spring:
  profiles:
    active: production
  jackson:
    deserialization:
      fail-on-unknown-properties: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        column_ordering_strategy: legacy
  mail:
    properties:
      mail:
        smtp:
          # 开启SMTP身份验证
          auth: true
          ssl:
            # 启用SSL加密传输
            enable: true
          # 使用SSL Socket Factory
          socketFactory-class: javax.net.ssl.SSLSocketFactory
          socketFactory-fallback: false
          starttls:
            # 不需要StartTLS
            enable: false
  web:
    resources:
      add-mappings: false
  mvc:
    view:
      suffix: .html
      prefix: /
airpower:
  websocket:
    support: redis
  api:
    access-token-secret: "1234567890"
    request-log: true
    response-log: true